@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
body {
  font-family: "Chivo", sans-serif;
  background-color: #121725;
  color: #ffffff;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  max-height: 900px;
  margin: 0px auto;
}

.main {
  position: relative;
  margin: 130px 0 0 165px;
  padding-top: 130px;
  background-image: url("./assets/desktop/image-host.jpg");
  background-position: right top;
  background-repeat: no-repeat;
}

.main::after {
  content: url("./assets/desktop/bg-pattern-dots.svg");
  position: absolute;
  left: calc(100% - 232px);
  top: calc(100% - 56px);
}

.pod-logo {
  position: absolute;
  top: -28px;
}

.content {
  background-color: #121725;
  max-width: 723px;
}

.intro-headline {
  color: #54e6af;
  font-size: 52px;
  font-weight: 300;
  line-height: 62px;
  text-transform: uppercase;
  padding-top: 88px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.intro-headline__highlight {
  color: #ffffff;
}

.intro-paragraph {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  max-width: 445px;
  color: #c2cbe5;
  margin-bottom: 40px;
}

.forflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-email__input-email {
  width: 257px;
  height: 56px;
  background-color: #2c344b;
  border: none;
  color: #c2cbe5;
  border-radius: 28px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 170px 0 32px;
}

.form-email__submit-form {
  background-color: #54e6af;
  color: #121725;
  border: none;
  width: 162px;
  height: 46px;
  border-radius: 23px;
  font-size: 14px;
  font-weight: bold;
  margin-left: -171px;
}

.form-email__submit-form:hover {
  background-color: #b3ffe2;
}

.error-message {
  height: 25px;
  font-size: 13px;
  font-weight: 600;
  color: #fb3e3e;
  margin-bottom: 32px;
  padding: 8px 0 0 32px;
}

.sponsors {
  max-height: 33px;
  max-width: 536px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

@media only screen and (max-width: 940px) {
  .main::after {
    top: 919px;
    left: 30px;
  }
}

/*==================*/
@media only screen and (max-width: 768px) {
  .main {
    margin: 0 0 0 0;
    max-width: 100%;
    padding-top: 0px;
    background-image: url("./assets/tablet/image-host.jpg");
  }
  .pod-logo {
    position: static;
    margin: 50px 0 0 39px;
  }
  .content {
    max-width: 635px;
    margin: 152px 0 0 39px;
  }
  .intro-headline {
    font-size: 48px;
    line-height: 56px;
  }
  .intro-paragraph {
    font-size: 18px;
  }
}

/*==========================*/
@media only screen and (max-width: 535px) {
  .content {
    margin: 50px 0px 0px 0px;
    padding: 20px;
  }
  .intro-headline {
    padding-top: 10px;
  }
  .form-email__input-email {
    width: calc(100% - 32px);
    height: 46px;
    padding: 0 0 0 32px;
    display: block;
  }
  .form-email__submit-form {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
  .error-message {
    margin-bottom: 0;
  }
}

/*==============================*/
@media only screen and (max-width: 375px) {
  .container {
    background-image: url("./assets/mobile/image-host.jpg");
    min-height: 100%;
  }
  .main {
    background-color: #121725d2;
    background-image: none;
    margin: 0 0 0 0;
    min-height: 100vh;
  }
  .main::after {
    display: none;
  }
  .pod-logo {
    position: static;
    margin: 0 auto;
    padding-top: 56px;
    display: block;
  }
  .content {
    margin: 57px 24px 0px 24px;
    background-color: transparent;
    padding: 0;
  }
  .intro-headline {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    padding-top: 0px;
  }
  .intro-paragraph {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .form-email__submit-form {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
  .sponsors {
    max-width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 48px;
  }
  .sponsors div {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .sponsors img {
    max-width: 90%;
  }
  .forflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.css.map */